<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearHistory()">
        <ion-icon icon="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @for (result of history; track result.id) {
      <app-history-line [loveResultInput]="result" />
    }
  </ion-list>
</ion-content>
