container {
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
  justify-items: center;

  ion-img {
    height: 120px;
    width: 120px;
  }

  .names,
  .result {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
  }
}
