
/* --- form --- */
form {
  margin: 1rem;
  display: grid;
  grid-auto-flow: row;
  row-gap: 1rem;
}

ion-img {
  height: 80px;
  width: 80px;
  justify-self: center;
}

section.controls {
  justify-self: center;
}
/* --- /form --- */
